.a {
    display: inline-block;
    background-color: hotpink;
    position: relative;
    top: 25vh;
    left: 25vh;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes bounce {

0%{
   height: 50vh;
    width: 50vw;
}

50%{
    height: 70vh;
    width: 20vw;
}

100%{
   height: 50vh;
    width: 50vw;
}

}