.a {
    display: inline-block;
    height: 50vh;
    width: 50vw;
    background-color: blueviolet;
    position: relative;
    right: 25vw;
    left: 30vh;
 


}

.a:active {
    border-radius: 30px;
   background-color: black;
   border: 5px solid blue;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 100px;
   justify-content: center;
   right: 40vw;
   top: 20vh;
}