.a {
    display: inline-block;
    height: 50vh;
    width: 50vw;
    background-color: blue;
    position: relative;
    top: 25vh;
    right: 25vw;
    left: 25vh;


}

.a:hover {
    background-color: green;
    duration: 2s;

}