.a {
    display: inline-block;
    background-color: pink;
    position: relative;
    top: 25vh;
    left: 30vw;
    animation-name: shrink ;
    animation-duration: 5s;
    


}

@keyframes shrink {
    0%{
  height: 50vh;
    width: 50vw;
    }

    50%{
height: 25vh;
width: 25vw;
    }

    100% {
height: 1vh;
width: 1vw;
    }
}