.a {
    display: inline-block;
    height: 50vh;
    width: 50vw;
    background-color: yellow;
    position: relative;
    right: 25vw;
    left: 30vh;
    transition-duration: 3s;


}

.a:hover {
    border-radius: 100%;
    duration: 2s;

}